.price-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 50px;
  padding-left: 50px;
  background-color:  #0077b6;
  color: white;
  margin-bottom: 20px;
  user-select: none;
}

.price-list-container h3 {
  font-size: 0.8rem;
  margin-bottom: 5px;
  color: lightgrey;
}

.price-list-container > div {
  text-align: center;
  position: relative; 
  border-right: 1px solid white;
  padding: 10px;
  padding-top: 0px;
  
}

.price-list-container > div:last-child {
  border-right: none;
}

.price-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.price-list li {
  display: flex;
  align-items: center;
  justify-content: center;
}