.price-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #e4e4e4;
  user-select: none;
  width: 100%;
  overflow: hidden;
}

.price-list-container h3 {
  font-size: 0.8rem;
  margin-bottom: 5px;
  margin-top: 0;
  color: #e4e4e4;
}

.price-list-container > div {
  text-align: center;
  border-right: 1px solid #3a3a3a;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  
}

.price-list-container > div:last-child {
  border-right: none;
}

.price-list li {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}