.article-container {
  max-width: 75%;
  min-width: 75%;
  margin-bottom: 20px;
  padding-top: 55px;
  padding-left: 84px;
  height: 100%;
  margin: 0 auto;
}

.articleBox {
  min-width: 100%;
  display: flex;
  flex-direction: row;
}

.article {
  margin-bottom: 20px;
  background-color: #3a3a3a;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
}

.article:hover {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #0077b6;
  margin-top: 0px;
  user-select: none;
}

.excerpt {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
  padding-top: 5px;
  color: #e4e4e4;
  user-select: none;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:center;
  background-color: #3a3a3a;
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: box-shadow 0.3s ease-in-out;
  width: 5%;
}

.score {
  font-size: 20px;
  font-weight: bold;
  user-select: none;
  color: #e4e4e4;
  padding: 5px;
}

.link {
  font-size: 12px;
  color: #0077b6;
  text-decoration: none;
  display: inline-block;
  transition: border-bottom 0.3s ease-in-out;
  margin-top: 10px;
  user-select: none;
}

.link:hover {
  color: #005f8b;
}

.dateStamp {
  color: rgb(164, 164, 164);
  margin: 0px;
  font-size: 12px;
  user-select: none;
}

.voteDiv {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  user-select: none;
  background-color: lightgrey;
}

.voteDivDown {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  user-select: none;
  background-color: darkgrey;
}

.voteDivUp {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  user-select: none;
  background-color: darkgrey;
}